/* Import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* Base styling */

body{
  background-color: white;
}
.input-fld{
  text-align: center;
}
#main-img {
	width: 100%;
    height: 60vh;
    background: url('https://assets.epicurious.com/photos/59b7ec7c1387461e2e0d5789/16:9/w_2976,h_1674,c_limit/smallplates-hero-foreverloop.gif') top center;
    background-size: cover;
    position: relative;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(49, 48, 48, 0.678);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
